h1 {
    text-align: center;
}

p {
    text-align: center;
    font-family: sans-serif;
}

svg {
    border: 1px solid lightgray;
    display: block;
    margin: auto;
}

.links line {
    stroke: #999;
    stroke-opacity: 0.6;
    stroke-width: 3px;
}

.node circle {
    stroke: black;
    stroke-width: 2px;
}

.node text {
    display: none;
    font: 15px sans-serif;
}

.node:hover text {
    display: inline;
}

.node:hover circle {
    fill: #000;
}

.cell {
    fill: none;
    pointer-events: none;
}
